/* Your Website Styles */
body{

	margin:2em;
}


nav {
	height:12em;
}

section {
	
	text-align: center;
}
.me	img{
	margin-left: 2em;
	border: 3px solid #333;

}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}